extends layout
block content
  form(method='POST', action='/')
    div.form-group
      div
        if !weather
          h1.text-center Witaj w pogodynce
          h4.text-center wszystkie dane pogodowe pochodzą z bazy 
            i openweathermap.org
          br 
        else
          h1.text-center W #{city} jest teraz #{weather}&#8451;
      div.input-group.col-sm-4.col-sm-offset-4
        if !weather
          span.input-group-addon Wybierz miasto
          input(type="text", name="city").form-control
