doctype html
html
  head
    title Pogodynka
    link(rel='stylesheet' href='https://bootswatch.com/journal/bootstrap.min.css')
  body
    nav.navbar.navbar-inverse
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') Pogodynka
        #navbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='/') Strona Główna
          ul.nav.navbar-nav.navbar-right
            if user
              li
                a(href='#') Witaj, #{user.name}
              li 
                a(href='/users/logout') Wyloguj
            else
              li
                a(href='/users/register') Rejestracja
              li
                a(href='/users/login') Zaloguj
    .container
      block content
      br
      hr
      footer
        p.text-center Copyright &copy; 2017
