extends layout
block content
  div.page-header 
    h1 Witaj na swoim profilu
  div.row
    div.col-sm-6.col-sm-offset-3
      div.panel.panel-default
        div.panel-heading
          h1.panel-title Twoje dane:
        div.panel-body
          strong Imię:
          i  #{user.name}
          button.btn.btn-primary.pull-right Edytuj
          hr
          strong Login:
          i  #{user.username}
          hr
          strong Miasto:
          if user.city
            i  #{user.city}
          else
            i  Uzupełnij swoje miasto
            button.btn.btn-primary.pull-right Edytuj
            hr
